<a href="/">Home</a>
<p><a href="/podcasts/<%= @episode.podcast_id %>">Back to <%= @episode.podcast.title %></a></p>

<h1><a href="<%= @episode.url %>"><%= @episode.title %></a></h1>
<img width='150' src="<%= @episode.podcast.image_url %>">


<p>Add Your Voice:</p>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :content, "Comment" %>
	<%= f.text_area :content %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :episode_id, :value => @episode.id %>
	<%= f.submit %>
<% end %>

<p>Comments:</p>

<% @episode.posts.each do |post| %>
	<%= render 'posts/comment', :post => post %>
<% end %>

