<a href="/">Home</a>

<h1><a href="<%= @podcast.feed_url %>"><%= @podcast.title %></a></h1>
<img width='150' src="<%= @podcast.image_url %>">
<p><% @podcast.summary %></p>

<% @podcast.episodes.each do |episode| %>
	<li><%= link_to episode.title, [@podcast, episode] %></li>
<% end %>

<p>Add Your Voice:</p>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :content, "Comment" %>
	<%= f.text_area :content %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :podcast_id, :value => @podcast.id %>
	<%= f.submit %>
<% end %>

<p>Comments:</p>

<% @podcast.posts.each do |post| %>
	<p>Date: <%= post.created_at %></p>
	<p>Title: <%= post.title %></p>
  <p>Content: <%= post.content %></p>
  <p>Author: <%= post.user.name %></p>
  <a href="/posts/<%= post.id %>/edit">Edit</a>
  
	<form action='/posts/<%= post.id %>/delete' method='post'>
		<input class=delete-button type="submit" value="Delete"/>
	</form>

<% end %>